@keyframes SlowToAppear {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes FadeToLeft {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes AppearToRight {
  0% {
    opacity: 0; }
  100% {
    opacity: 1;
    margin: 0px 45px 0 auto; } }

.container {
  color: #fff;
  width: 83.333%;
  position: relative; }

.header {
  height: 75px;
  width: 83.77777%;
  position: fixed;
  right: 0;
  z-index: 9999;
  display: flex;
  line-height: 75px; }
  .header-back-next {
    padding: 0 0 0 40px;
    font-size: 25px; }
  .header-back {
    color: #c7c7c7;
    list-style: none;
    margin-right: 12.5px; }
  .header-next {
    color: #c7c7c7;
    list-style: none;
    margin-left: 12.5px; }
  .header .search {
    width: 530px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 25px;
    height: 42px;
    margin: 15px 30px;
    line-height: 40px;
    padding-left: 15px; }
    .header .search-song {
      color: white;
      width: 85%;
      height: 38px;
      line-height: 35px;
      margin-top: 1px;
      font-size: 17px;
      background-color: transparent;
      border: none;
      outline: none; }
      .header .search-song::placeholder {
        color: #e4e4e4;
        font-size: 14px; }
    .header .search-icon {
      font-size: 25px;
      cursor: pointer;
      color: #e4e4e4;
      margin: 10px 0 10px 30px; }
    .header .search::before {
      display: block; }
  .header .options {
    display: flex;
    z-index: 9999;
    position: fixed;
    right: 0;
    margin-left: auto;
    margin-right: 30px; }
    .header .options .option-item {
      margin-left: 15px;
      width: 40px;
      height: 40px;
      margin-top: 17px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.15);
      cursor: pointer; }
      .header .options .option-item[datatype] {
        position: relative; }
      .header .options .option-item[datatype]::after {
        position: absolute;
        content: attr(datatype);
        background-color: #2c2b2b;
        font-size: 12px;
        width: 45px;
        text-align: center;
        box-shadow: 1px 1px 3px #222222;
        top: 130%;
        left: -3px;
        white-space: nowrap;
        border-radius: 2px;
        visibility: hidden;
        line-height: 3.3ch; }
      .header .options .option-item[datatype]:hover:after {
        visibility: visible;
        animation: SlowToAppear .2s ease-in-out; }
      .header .options .option-item:not(:last-child):hover:before {
        border: solid;
        border-color: #2c2b2b transparent;
        border-width: 0 8px 6px 8px;
        bottom: -12px;
        content: "";
        left: 12px;
        animation: SlowToAppear .2s ease-in-out;
        position: absolute;
        z-index: 99; }
    .header .options .topic-img {
      margin: -13.5px 12px 10px 10px; }
      .header .options .topic-img img {
        width: 22px;
        height: 22px; }
    .header .options .upload-img {
      margin: -13.5px 12px 10px 10px; }
      .header .options .upload-img img {
        width: 22px;
        height: 22px;
        color: #fff; }
    .header .options .setting-img {
      margin: -12.5px 14px 9px 9px; }
      .header .options .setting-img img {
        width: 22px;
        height: 22px;
        color: #fff; }

.homepage {
  margin: 90px 0px 140px 30px; }
  .homepage .slide-show {
    display: flex;
    position: relative; }
    .homepage .slide-show--item {
      padding: 15px; }
      .homepage .slide-show--item img {
        width: 360px;
        height: 205px;
        border-radius: 7px;
        cursor: pointer; }
    .homepage .slide-show--left, .homepage .slide-show--right {
      position: absolute;
      display: none;
      background-color: rgba(255, 255, 255, 0.25);
      width: 55px;
      height: 55px;
      border-radius: 50%;
      top: 50%;
      transform: translateY(-50%); }
      .homepage .slide-show--left i, .homepage .slide-show--right i {
        font-size: 40px;
        margin: 7px 13px; }
      .homepage .slide-show--left:hover, .homepage .slide-show--right:hover {
        filter: brightness(80%);
        cursor: pointer;
        box-shadow: 0px 1px 5px #a3a3a3; }
    .homepage .slide-show--left {
      left: 27px; }
    .homepage .slide-show--right {
      right: 69px; }
    .homepage .slide-show:hover .slide-show--left,
    .homepage .slide-show:hover .slide-show--right {
      display: block; }
  .homepage .recently {
    margin: 20px 15px; }
    .homepage .recently-title {
      display: flex; }
      .homepage .recently-title .title-name {
        font-size: 20px;
        font-weight: 700; }
      .homepage .recently-title .full-item {
        opacity: 0;
        margin: 0px 75px 0 auto;
        color: rgba(255, 255, 255, 0.55); }
        .homepage .recently-title .full-item span {
          font-weight: 400;
          font-size: 15px; }
        .homepage .recently-title .full-item i {
          font-size: 20px;
          margin-top: 5px;
          margin-left: 5px; }
    .homepage .recently .list-song {
      display: flex;
      margin: 20px 0; }
      .homepage .recently .list-song .song-item:not(:first-child) {
        padding-left: 14px; }
      .homepage .recently .list-song .song-item:not(:last-child) {
        padding-right: 12.6px; }
      .homepage .recently .list-song .song-item .img-song {
        overflow: hidden;
        width: 140px;
        height: 140px;
        margin-bottom: 7px;
        border-radius: 5px; }
        .homepage .recently .list-song .song-item .img-song img {
          width: 140px;
          height: 140px;
          transition: all .6s; }
          .homepage .recently .list-song .song-item .img-song img:hover {
            cursor: pointer;
            transform: scale(1.1); }
      .homepage .recently .list-song .song-item .song-title {
        margin-top: 2px;
        font-weight: 500;
        width: 140px; }
        .homepage .recently .list-song .song-item .song-title:hover {
          cursor: pointer;
          opacity: .5; }
    .homepage .recently:hover .full-item {
      cursor: pointer;
      animation: AppearToRight .6s ease-in-out forwards; }
  .homepage .listen-song-more {
    margin: 20px 15px; }
    .homepage .listen-song-more .ls-more-title {
      display: flex; }
      .homepage .listen-song-more .ls-more-title .title-name {
        font-size: 20px;
        font-weight: 700; }
      .homepage .listen-song-more .ls-more-title .full-item {
        opacity: 0;
        margin: 0px 75px 0 auto;
        color: rgba(255, 255, 255, 0.55); }
        .homepage .listen-song-more .ls-more-title .full-item span {
          font-weight: 400;
          font-size: 15px; }
        .homepage .listen-song-more .ls-more-title .full-item i {
          font-size: 20px;
          margin-top: 5px;
          margin-left: 5px; }
    .homepage .listen-song-more .ls-more-song {
      display: flex;
      margin: 20px 0; }
      .homepage .listen-song-more .ls-more-song-item:not(:first-child) {
        padding-left: 14px; }
      .homepage .listen-song-more .ls-more-song-item:not(:last-child) {
        padding-right: 12.6px; }
      .homepage .listen-song-more .ls-more-song-item .song-title {
        margin-top: 2px;
        font-weight: 500;
        width: 200px; }
        .homepage .listen-song-more .ls-more-song-item .song-title:hover {
          cursor: pointer;
          opacity: .5; }
      .homepage .listen-song-more .ls-more-song-item .img-song {
        overflow: hidden;
        border-radius: 5px;
        width: 207px;
        height: 207px;
        margin-bottom: 7px; }
        .homepage .listen-song-more .ls-more-song-item .img-song img {
          width: 207px;
          height: 207px;
          transition: all .6s; }
          .homepage .listen-song-more .ls-more-song-item .img-song img:hover {
            cursor: pointer;
            transform: scale(1.1); }
