.playmusic {
    display: flex;
    background-image: url(../img/backgroundMusic.jpg);
    position: fixed;
    height: 90px;
    bottom: 0;
    width: 100%;
    box-shadow: 1px 2px 5px rgb(97, 32, 172);
}